<link rel="stylesheet" href="css/options.css"/>
<div id="my-content-2">
	<div id="forget_window">
			<div class="logo">
	    		<img src="img/logo_auth.png" alt="Прима телеком">
			</div>
			<form action="#">
			<div class="col-1">
				<h2>Восстановить пароль</h2>
				<div id="forget" class="forget">
					<input id="inp_focus" autofocus type="email" placeholder="Введите ваш e-mail">
				</div>
				<input id="send_pass" type="submit" value="Отправить" class="submit-button">
			</div>
			<div class="col-2">
				<img src="images/success.png" alt="пароль отправлен">
				<h3>Новый пароль отправлен</h3>
			</div>
			</form>	
	 </div>
</div>

<p class="footer-info">© ПримаТелеком, 2014</p>
