<link rel="stylesheet" href="css/options.css"/>
<div id="my-content-2">
    <div id="forget_window">
        <div class="logo">
            <img src="img/logo_auth.png" alt="Прима телеком">
        </div>
        <form action="">
            <div class="col-1" ng-show="step == 1">
                <h2>{{t('recover_title')}}</h2>

                <div id="forget" class="forget">
                    <input ng-model="email" id="inp_focus" autofocus type="email" placeholder="{{t('recover_enter_email')}}">
                </div>
                <input ng-click="sendCodeToEmail()" id="send_pass" type="button" value="{{t('recover_send')}}" class="submit-button">
            </div>
            <div class="col-2" ng-show="step == 2">
                <h3>{{t('recover_title_code')}}</h3>

                <div id="forget_code" class="forget">
                    <input ng-model="code" id="inp_focus_code" autofocus type="text" placeholder="{{t('recover_enter_email_code')}}">
                </div>
                <input ng-click="sendCode()" id="send_code" type="button" value="{{t('recover_send')}}" class="submit-button">
            </div>
        </form>
    </div>
</div>

<p class="footer-info">{{t('reg_copyright')}}</p>
