<link rel="stylesheet" type="text/css" href="css/settings.css" media="all"/>
<style>.container, #large-header, html {
    min-height: 1110px !important;
}</style>
<div id="content" class="window-sett">
    <div class="settings">
		<span class="language"
              ng-class="{'en': settings.lang == 'ru', 'ru': settings.lang == 'en'}"
              ng-click="changeLang()">
            <img class="eng" src="img/angl.png" alt=""/>
            <img class="rus" src="img/rus.png" alt=""/>
        </span>

        <h1><img src="img/small-logo.png" alt=""> {{t('settings_title')}}</h1>

        <div class="info">
            <div>
                <div class="ava"><img src="{{primaApi.user.lk_avatar_url}}" ng-show="primaApi.user.lk_avatar_url" alt=""
                                      style="max-width: 62px; max-height: 62px;"/></div>
                <span class="label">{{t('settings_username_title')}}: </span><span
                    class="value">{{primaApi.user.name}}</span>
                <br/>
                <span class="sip">SIP: {{primaApi._settings.sip_login}}</span>
                <a class="showAuth" href="#/login">{{t('settings_enter_other_credentails')}}</a>
            </div>
            <div>
                <span class="label">{{t('settings_balance')}}: </span><span class="value">{{primaApi.user.balance}}</span>
                <a class="label top_up" href="http://office.primatel.ru/payments/new">{{t('settings_add_funds')}}</a>
            </div>
            <div>
                <span class="label">{{t('settings_online_shop')}}</span><a class="enter-button"
                                                                           ng-click="enterCatalog()">{{t('enter')}}</a>
            </div>
        </div>
        <div class="selection">
            <div class="call-type" ng-click="settings.call_type = 1">WEB phone</div>
            <div class="radio " ng-class="{checked:settings.call_type == 1}" ng-click="settings.call_type = 1">WEB
                phone
            </div>
            <div class="call-type" ng-click="settings.call_type = 2">SOFTphone</div>
            <div class="radio" ng-class="{checked:settings.call_type == 2}" ng-click="settings.call_type = 2">SOFT
                phone
            </div>
            <div class="call-type" ng-click="settings.call_type = 3">CALL BACK</div>
            <div class="radio radio3" ng-class="{checked:settings.call_type == 3}" ng-click="settings.call_type = 3">
                CALL BACK
            </div>
            <div class="input-wrap callback-phone" ng-class="{enter:settings.call_type == 3}">
                <input type="tel" ng-model="settings.default_phone" id="defaultPhone" name="defaultPhone"
                       placeholder="{{t('enter_phone_number')}}"/>
            </div>
        </div>
        <div class="group-block">
            <div class="record">
                <div class="label">{{t('record_calls')}}</div>
                <div class="switch record_calls"
                     ng-class="{on:primaApi._settings.record_calls,off:!primaApi._settings.record_calls}"
                     ng-click="triggerCallRecord()">
                    <div style="opacity:0" class="loading_callrecord">
                        <ul class="loader">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="delay">
                <div class="input-label label-popupDisplay">
                    {{t('popup_delay')}}
                </div>
                <div class="input-wrap popupDelay-wrap">
                    <input type="text" ng-model="settings.popup_delay" id="popupDelay" name="popupDelay"/>
                </div>
            </div>
            <div class="country">
                <div class="input-label label-defaultCountry">
                    {{t('default_country')}}
                </div>
                <div class="input-wrap defaultCountry-wrap">
                    <select name="defaultCountry" id="defaultCountry" ng-model="settings.default_country"
                            ng-options="c.code as c.name for c in arrCountries">
                        <option value="">{{t('choose_country')}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="group-block">
            <ul class="settings-block2">
                <li>
                    <div class="integration">{{t('crm_integration')}}</div>
                    <!--amoCRM-->
                    <div class="crm">
                        <a class="crm-logo" href="#"><img src="/img/amo.png" alt="amo"/></a>
                        <a class="crm-link" target="_blank" href="http://www.amocrm.ru/">amocrm.ru</a>
                        <div class="switch" ng-class="{on: settings.amo_enabled, off:!settings.amo_enabled}" ng-click="settings.amo_enabled = !settings.amo_enabled">
                        </div>
                    </div>
                    <div class="amo-settings" ng-show="settings.amo_enabled">
                        <div class="amo_domain">
                            <div class="input-label ">
                                {{t('integration_settings_amo_domain')}}:
                            </div>
                            <div class="input-wrap">
                                <input type="text" ng-model="settings.amo_domain"/>
                            </div>
                        </div>
                        <div class="amo_email">
                            <div class="input-label ">
                                {{t('integration_settings_amo_email')}}:
                            </div>
                            <div class="input-wrap">
                                <input type="text" ng-model="settings.amo_email"/>
                            </div>
                        </div>
                        <div class="amo_hash">
                            <div class="input-label ">
                                {{t('integration_settings_amo_hash')}}:
                            </div>
                            <div class="input-wrap">
                                <input type="text" ng-model="settings.amo_hash"/>
                            </div>
                        </div>
                    </div>
                    <!--2gis-->
                    <div class="crm" style="  border-top: 1px solid #cecece;
  padding-top: 20px;">
                        <a class="crm-logo" href="#"><img src="/img/gis.png" alt="gis"/></a>
                        <a class="crm-link" target="_blank" href="http://api.2gis.ru/">api.2gis.ru</a>
                        <div class="switch" ng-class="{on: settings.gis_enabled, off:!settings.gis_enabled}" ng-click="settings.gis_enabled = !settings.gis_enabled">
                        </div>
                    </div>
                    <div class="gis-settings" ng-show="settings.gis_enabled">
                        <div class="gis_key">
                            <div class="input-label ">
                                {{t('integration_settings_gis_api_key')}}:
                            </div>
                            <div class="input-wrap">
                                <input type="text" ng-model="settings.gis_code"/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="crm">
                        <div class="setting-option" ng-bind-html="t('enable_notify')">

                        </div>
                        <div class="switch"
                             ng-class="{on:primaApi._settings.recieve_incoming_messages,off:!primaApi._settings.recieve_incoming_messages}"
                             ng-click="primaApi._settings.recieve_incoming_messages = !primaApi._settings.recieve_incoming_messages">
                        </div>
                    </div>
                    <div class="crm" ng-show="primaApi._settings.recieve_incoming_messages">
                        <div class="setting-option" ng-bind-html="t('show_notify')"></div>
                        <div class="switch"
                             ng-class="{on:primaApi._settings.show_notify,off:!primaApi._settings.show_notify}"
                             ng-click="primaApi._settings.show_notify = !primaApi._settings.show_notify">
                        </div>
                    </div>
                    <div class="crm" ng-show="primaApi._settings.recieve_incoming_messages">
                        <div class="setting-option" ng-bind-html="t('exec_command')">
                        </div>
                        <div class="switch"
                             ng-class="{on:primaApi._settings.exec_command,off:!primaApi._settings.exec_command}"
                             ng-click="primaApi._settings.exec_command = !primaApi._settings.exec_command">
                        </div>
                    </div>
                    <div ng-show="primaApi._settings.exec_command">

                        <input class="complete-command" ng-repeat="c in primaApi._settings.commands" ng-model="c.command" type="text" placeholder="{{t('enter_command')}}"/>
                        <a class="add-button" href="" ng-click="primaApi._settings.commands.push({command:''})">{{t('add_command')}}</a>
                    </div>
                </li>
            </ul>


        </div>
        <div class="save-settings-button-container">
            <button ng-click="saveAndClose()" class="save-settings-button">{{t('save_settings')}}</button>
        </div>
    </div>
</div>
